{% extends 'WAMEcommerceBundle::layout.html.twig' %}



{% block ecommerce_content %}
    <section id="order">
        <div class="container">

            <h1>Thanks !</h1>


        </div>
    </section>



{% endblock ecommerce_content %}
