{% extends 'WAMEcommerceBundle::layout.html.twig' %}

{% block ecommerce_content %}
    <section id="payment">
        <div class="container">

            {% block content_checkout %}
                <div class="checkout">

                    {{ form(form) }}

                </div>
            {% endblock content_checkout %}

        </div>
    </section>

{% endblock ecommerce_content %}
