{% extends 'WAMEcommerceBundle::layout.html.twig' %}



{% block ecommerce_content %}
    <section id="payment">
        <div class="container">

            <h1>PAYMENT FAIL JUJÁ</h1>


        </div>
    </section>



{% endblock ecommerce_content %}
